@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* общее */
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

a {

    text-decoration: none;
}
.info {
    margin: auto;
    display: flex;
}


@media (max-width: 800px) {
    .info {
        display: block;
        text-align: center;
    }
}

.container {
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 800px;
}
.avatar {
    width: 150px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: block;
}

.card {
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background: #b7cef3;
    border-radius: 20px;
    color: #202631;
}

/* текст */
.info-text {
    margin-left: 20px;
    font-style: oblique;
    font-size: 18px;
    color: rgb(38, 38, 38);
}

/* ссылки */

h4 {
padding-top:0;
margin: 0;
padding-bottom: 20px;
}

.link1 {
    color: rgb(21, 0, 255);
}

.link2 {
    color: rgb(52, 108, 241);
}


li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* таблица */
.table {
    /* border: 5px solid rgb(97, 97, 97, 0.5); */
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    margin: auto;
    table-layout: fixed; 
    text-align: center; 
    font-size: 15px;
}

.thead {
 
    background: rgb(9, 15, 130);
    border-radius: 10px;
    color: #d8d8d8;
    
}
 th, td {
    padding: 10px;
 }

#tr2 {
    background: rgb(228, 228, 228);
}

/* форма */
.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(105, 105, 105);
    color: rgb(20, 20, 20);
    padding-top: 15px ;
    padding-bottom: 0;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    background-color: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.contact h4 {
    margin-bottom: 20px;
}



